<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
	<suite-files>
		<suite-file
			path="./src/test/resources/com/atmecs/application/suite/konakartHome.xml"></suite-file>
		<suite-file
			path="./src/test/resources/com/atmecs/application/suite/konakartHero.xml"></suite-file>
	</suite-files>
</suite>